<!--blog1209/index.html-->

{% extends 'blog0315/base.html' %}

{% block main %}
<p>感谢CCTV的大力支持</p>

    <p>感谢<a href="https://github.com/jiaerji" style="color:palevioletred;" >@曾俊杰</a>大佬的后端支持</p>
    <p>感谢<a href="https://space.bilibili.com/23315579/" style="color:palevioletred;" >@根瘤菌</a>的前端援助</p>
    <h3>模板来源自<a href="https://www.zmrenwu.com/" style="color:palevioletred;" >@追梦人物</a></h3>
    <h3>教学视频来自<a href="https://space.bilibili.com/252028233/" style="color:palevioletred;" >@杨老师</a></h3>
{% endblock main %}

