
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
{% extends 'blog0315/base.html' %}

{% block main %}


<body>
    <div class="containter">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">

                    <h2>{{ user.username }}</h2>
                    <ul>
                        <li>昵称：{{ user.nickname }} </li>
                        <li>邮箱：{% if user.email %}{{ user.email }}{% else %}未绑定 {% endif %}</li>
                        <li>上一次登录的时间：{{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                        <button><a href="{% url 'users:user_change' %}?from={{ request.get_full_path }}">修改信息</a></button>
                        <li><a href="#">修改密码</a></li>
                    </ul>
            </div>
        </div>
    </div>
</body>

{% endblock main %}
</html>